body{
  margin: 0;
  padding: 0;
  background: white ;
}
a{
  text-decoration: none;
  color: inherit;
}

.nav{
  height: 35px;
  alignment: top;
  background: white;
}
.nav ul{
  list-style: none;
}
.nav li{
  vertical-align: middle;
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal ;
  font-size: 1.2em;
  line-height: 40px;
  height: 30px;
  overflow: hidden;
  padding-left: 70px;
  display: inline-flex;
}
.nav #header-profile {
  float: right;
  margin-right: 70px;
  position: relative;
}


.part1{
  height: 500px;
  background: #bd003c;
  background: -webkit-linear-gradient(to bottom, #bd003c, #1f1c18);
  background: linear-gradient(to bottom, #bd003c, #1f1c18);
  background-repeat: no-repeat;
  background-size: cover;
}
.part1 .leftP{
  float: left;
  padding-left: 70px;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: 'Bebas Neue';
  font-weight: bold;
  font-style: normal;
  text-align: left;
  font-size: 30px;
  color: white;
}
.part1 .root{
  float: left;
  padding-right: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.part1 td {
  position: static;
  border: 1px solid white;
  width: 150px;
  height:150px;
  margin: 20px;
  background: linear-gradient(to left bottom, rgba(255,255,255,0.3) 10%,
                                              rgba(255,255,255,0.6) 50%,
                                              rgba(255,255,255,0.3) 90%);
}
.part1 img {
  display: block;
}
.part1 table{
  border-spacing: 30px;
}

.part2{
  height: 350px;
  background: white;
  padding-left: 70px;
  padding-top: 60px;
  font-size: 2em;
  font-family: 'Bebas Neue';
  font-weight: bold;

}
.footer{
  height: 200px;
  background: #16181c;
  padding-top: 70px;
  padding-left: 70px;
  font-family: 'Bebas Neue';
  font-weight: bold;
  color: white;
}
.footer .menu{
  padding-left: 220px;
  overflow: hidden;
  color: white;
}
.footer .menu a{
  display: block;
}

.bottomNav{
  height: 25px;
  padding-left: 70px;
  font-family: 'Bebas Neue';
  font-weight: bold;
  background: #16181c;

}
.navB {
  background: inherit;
  display: inline;
}
.navB a{
  color: white;
  padding: 14px 16px;
  text-align: center;
}


@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}