.App {
  float: left;
  padding-right: 70px;
  padding-left:400px;
  padding-bottom: 60px;
  height: 500px;

}
.root{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,11vw);
  grid-gap: 20px;
}
.artist-card{
}

.App img{
  object-fit: cover;
  display: block;
  border: 1px solid white;
  width: 150px;
  height:150px;
  background: linear-gradient(to left bottom, rgba(255,255,255,0.3) 10%,
  rgba(255,255,255,0.6) 50%,
                                              rgba(255,255,255,0.3) 90%);
}

