.App {
  float: left;
  padding-right: 70px;
  padding-left:400px;
  padding-bottom: 60px;
  display: inline-flex;
  height: 500px;

}
.artist-card{
    display: inline;
}

.App img{
    overflow: auto;
  display: block;
  border: 1px solid white;
  width: 150px;
  height:150px;
  margin: 20px;
  background: linear-gradient(to left bottom, rgba(255,255,255,0.3) 10%,
  rgba(255,255,255,0.6) 50%,
                                              rgba(255,255,255,0.3) 90%);
}

