.App {
  float: right;
  padding-right: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
}

table{
   border-spacing: 30px;
}

img{
    height:150px;
    width: 150px;
}

td{
  border: 1px solid white;
  width: 150px;
  height:150px;
  margin: 20px;
  background: linear-gradient(to left bottom, rgba(255,255,255,0.3) 10%,
                                              rgba(255,255,255,0.6) 50%,
                                              rgba(255,255,255,0.3) 90%);
}

.artist-card-image {
    display: block;
    width:150px;
    height:150px;
}

